@model T2010A_WAD.Areas.Admin.Models.Admin

@{ ViewBag.Title = "Register"; }
<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">Register</h3>
            </div>

            @using (Html.BeginForm())
            {
@Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-4">
                <div class="form-check">
                    <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> I agree to all Terms & Conditions
                    </label>
                </div>
            </div>
            <div class="center-form" style="text-align:center">
                <button type="submit" class="btn btn-gradient-primary mr-5">Register</button>
            </div>

             <div class="text-center mt-4 font-weight-light">
                Already have an account? <a href="~/Admin/Auth/Login" class="text-primary">Login</a>
             </div>

            </div>
            }


        </div>
    </div>
</div>

